

<h1>Password Generator</h1>
<div>
  <label for="">Enter Length</label>
  <!-- using the event object to get access to input -->
  <input (input)="onChangeLengthInput($event.target.value)" type="text">
</div>
<div>
  <label>Use Letters</label>
  <input (change)="onLettersClick()"  type="checkbox">
</div>
<div>
  <label>Use Numbers</label>
  <input (change)="onNumbersClick()"  type="checkbox">
</div>
<div>
  <label>Use Symbols</label>
  <input (change)="onSymbolsClick()"  type="checkbox">
</div>

<div>
  <!-- click is an event we are watching for -->
  <!-- onButtonClick() is evaluated as code, it is NOT a string. it is bound to the app.component.ts function -->
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label for="">Your Password</label>
  <!-- passwordProperty is being set as the actual value for input. -->
  <input [value]="passwordProperty" />
  <!-- we can also call a function to set the [value]. The function would have to be in the app.component.ts file, as I included -->
  <!-- <input [value]="getPassword()" /> -->
</div>

<!-- Printing out the element using interpolation -->
{{ passwordProperty }}
<!-- Can also just call a function -->
{{ interpolationFunctionCall() }}